<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <div class="contact-info">
      <p><strong>Horario de Servicio:</strong></p>
      <p>Abrimos desde las 8 a.m hasta las 10 p.m</p>
      <p><strong>Dirección:</strong> Calle Falsa 123, Ciudad, País</p>
      <p><strong>Teléfono:</strong> +503 456 7890</p>
      <p><strong>Email:</strong> contacto&#64;SistemaReservas.com</p>
    </div>
    <div class="social-media">
      <a mat-icon-button href="https://www.facebook.com" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a mat-icon-button href="https://www.twitter.com" target="_blank" aria-label="Twitter">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a mat-icon-button href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</mat-toolbar>